@font-face {
	font-family: "Raleway-Medium";
	src: url ("../fonts/Raleway-Medium.ttf") format("tff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway-Bold";
	src: url ("../fonts/Raleway-Bold.ttf") format("tff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Photograph-Signature";
	src: url ("../fonts/PhotographSignature.ttf") format("tff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Aria-TextG2-Bold";
	src: url ("../fonts/AriaTextG2-Bold.ttf") format("tff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Aria-TextG2-SemiBold";
	src: url ("../fonts/AriaTextG2-SemiBold.ttf") format("tff");
	font-weight: normal;
	font-style: normal;
}

.heroImage {
	width: 100%;
	height: 600px;
	background-color: rgb(255, 200, 211);
	object-fit: cover;

}


.img {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 0;
}

.page-container{
    display: flex;
	flex-direction: column;
    min-height: 100vh; 
	min-width: 100%;
}

.content-wrap {
    flex: 1;
}