.contentFeature3 {
	width: 100%;
	height: 800px;
	background-color: rgb(255, 255, 255);

}

.contentFeatureImg3 {
	height: 50%;
}


.displayBoard3 {
	height: 25%;
}

.displayBar3 {
	height: 5%;
}





