.contentFeature1 {
	width: 100%;
	height: 110vh;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
}

.imageContainer1 {
	position: absolute;
	width: 900px;
	z-index: 0;
	transform: translateX(-15vw);
	background-color: aliceblue;
}

.textContainer1 {
	position: absolute;
	color:rgb(0, 0, 0);
	z-index: 1;
	max-width: 650px;
	max-height: 550px;
	width: 50vw;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateX(25vw);
}

/* TEXT */

.categoryName1 {
	color: #525251;
	font-size: 36px;

}

.title1 {
	color: #525251;
	font-size: 48px;
	line-height: 1em;
}

.subTitle1 {
	color: #525251;
	font-size: 48px;
}

<<<<<<< HEAD
.bodyText2 {
=======
.bodyText1 {
>>>>>>> 8994e88b1ff3c4772a9321d97388699f06773ab6
	color: #525251;
	font-size: 24px;
}

.callToAction1 {
	color: #525251;
	font-size: 28px;
	text-decoration: underline;	
}


