.contentFeature2 {
	position: relative;
	width: 100%;
	height: 800px;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.boardTextContainer2 {
	position: relative;
	width: 46%;
	height: 30.5vw;
	transform: translateX(-48%) translateY(0%);
}

.imageContainer2 {
	position: absolute;
	max-width: 33%;
	transform: translateX(75%) translateY(0%);
	z-index: 2;
}

.displayBoardContainer2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FBD5C5;
	z-index: 0;
}

.displayBarContainer2 {
	position: absolute;
	width: 20%;
	height: 4.5vw;
	z-index: 3;
	background-color: #525251;
	transform: translateX(36%) translateY(60%);
}

.textContainer2 {
	position: absolute;
	color:rgb(0, 0, 0);
	width: 80%;
	height: 90%;
	display: grid;
	transform: translateX(4%) translateY(5%);

}

/* TEXT */

.categoryName2 {
	color: #525251;
	font-size: 18px;
}

.title2 {
	color: #525251;
	font-size: 48px;
	transform: translateY(-40%);
	line-height: 1.5em;
}

.subTitle2 {
	color: #525251;
	font-size: 40px;
	transform: translateY(-120%);
}


.bodyText2 {
	color: #525251;
	font-size: 16px;
	transform: translateY(-30%);
}

.callToAction2 {
	color: #525251;
	font-size: 20px;
	transform: translateY(-130%);
	text-decoration: underline;
}

@media screen and (max-width: 1125px) {
	.boardTextContainer2 {
		width: 53vw;
		height: 37vw;
		transform: translateX(-40%);
	}
	
	.imageContainer2 {
		transform: translateX(85%);
	}
}	

@media screen and (max-width: 970px) {

	.boardTextContainer2 {
		width: 53vw;
		height: 43vw;
		transform: translateX(-40%);
	}
	
	.imageContainer2 {
		width: 100%;
		transform: translateX(85%);
	}

	/* TEXT */

	.title2 {
		color: #525251;
		font-size: 40px;
		transform: translateY(-40%);
		line-height: 1.5em;
	}

	.subTitle2 {
		color: #525251;
		font-size: 32px;
		transform: translateY(-120%);
	}


	.bodyText2 {
		color: #525251;
		font-size: 15px;
		transform: translateY(-30%);
	}

	.callToAction2 {
		color: #525251;
		font-size: 18px;
		transform: translateY(-130%);
		text-decoration: underline;
	}
	
}

@media screen and (max-width: 768px) {
	.contentFeature2 {
		height: 150vh;
	}

	.boardTextContainer2 {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		width: 90%;
		height: 60vw;
		transform: translateX(0%) translateY(100%);
	}
	
	.imageContainer2 {
		position: absolute;
		max-width: 55%;
		transform: translateX(25%) translateY(3%);
		z-index: 2;
	}
	
	.displayBarContainer2 {
		position: absolute;
		/* width: 7%;
		height: 25vw;
		z-index: 3;
		background-color: #525251;
		transform: translateX(450%) translateY(280%); */

		width: 28%;
		height: 6vw;
		z-index: 3;
		background-color: #525251;
		transform: translateX(-60%) translateY(1100%);
	}
	
	.textContainer2 {
		position: absolute;
		color:rgb(0, 0, 0);
		width: 95%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translateX(4%) translateY(-5%);
	}
	
	/* TEXT */
	
	.categoryName2 {
		color: #525251;
		font-size: 18px;
	}
	
	.title2 {
		color: #525251;
		font-size: 40px;
		line-height: 0.5em;
	}
	
	.subTitle2 {
		color: #525251;
		font-size: 32px;
		transform: translateY(5%);
	}
	
	
	.bodyText2 {
		color: #525251;
		font-size: 15px;
		transform: translateY(-10%);
	}
	
	.callToAction2 {
		color: #525251;
		font-size: 18px;
		transform: translateY(-50%);
		text-decoration: underline;
	}
}


@media screen and (max-width: 640px) {

	.boardTextContainer2 {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		width: 95%;
		height: 70vw;
		transform: translateX(0%) translateY(85%);
	}

	.imageContainer2 {
		max-width: 58%;
		transform: translateX(25%) translateY(0%);
	}

	.textContainer2 {
		position: absolute;
		color:rgb(0, 0, 0);
		width: 95%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translateX(4%) translateY(-10%);
	}
}

@media screen and (max-width: 560px) {

	.boardTextContainer2 {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		width: 95%;
		height: 83vw;
		transform: translateX(0%) translateY(72%);
	}

	.imageContainer2 {
		max-width: 60%;
		transform: translateX(25%) translateY(1%);
	}

	.textContainer2 {
		position: absolute;
		color:rgb(0, 0, 0);
		width: 95%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translateX(4%) translateY(-8%);
	}
}
