.contentFeature3 {
	margin: 0;
	padding: 0%;
	width: 100vw;
	height: 800px;
	background-color: rgb(255, 255, 255);
	display: flex;
	position: relative;
	justify-content: center;
	padding: 2em;
}

.boardTextContainer3 {
	position: relative;
	display: flex;
	width: 70vw;
	height: 32vw;
	background-color: aqua;
}

.displayBoardContainer3 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #5a5a57;
}

.textContainer3 {
	color:rgb(0, 0, 0);
	z-index: 1;
	display: grid;
	width: 40%;
	height: 70%;
	transform: translateX(8%) translateY(5.5%);
	z-index: 90;
}

.imageContainer3 {
	position: absolute;
	width: 36%;
	height: auto;
	transform: translateX(42.5%) translateY(3%);
	z-index: 2;
}

.displayBarContainer3 {
	position: absolute;
	width: 18%;
	height: 4.2vw;
	z-index: 3;
	background-color: #FBD5C5;
	transform: translateX(-8vw) translateY(25vw);
}

.bigImage {

}

.title3 {
	color: #F5F6F7;
	font-size: 48px;
	line-height: 1.5em;

}

.subTitle3 {
	color: #F5F6F7;
	font-size: 26px;
}

.categoryName3 {
	color: #FBD5C5;
	font-size: 48px;

}

.bodyText3 {
	color: #F5F6F7;
	font-size: 24px;
}

.callToAction3 {
	color: #F5F6F7;
	font-size: 27px;
	text-decoration: underline;
}