.contentFeature2 {
	width: 100%;
	height: 800px;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template:  1fr / 1fr 1fr 1fr;
	background-color: #525251;
}

.imageContainer2 {
	grid-column: 3;
	grid-row: 1;
	z-index: 2;
}

.displayBoardContainer2 {
	grid-column: 1 / 3;
	grid-row: 1;
	
}

.displayBarContainer2 {
	grid-column: 2;
	grid-row: 1;
	z-index: 3;
}

.textContainer2 {
	color:rgb(0, 0, 0);
	grid-column: 1 / 4;
	grid-row: 1; 
	z-index: 1;
	max-width: 35vw;
	max-height: 60vh;
	width: auto;
	display: grid;
	transform: translateX(16%) translateY(2%);

}

.bigImage2 {
	max-height: 95%;
	max-width: 100%;
	height: auto;
	width: auto;
	transform: translateX(-25%) translateY(0px);
}

.displayBoard2 {
	width: 70%;
	transform: translateX(10%) translateY(0%);
	z-index: 0;
}

.displayBar2 {
	max-height: 30%;
	max-width: 60%;
	height: auto;
	width: auto;
	transform: translateX(70%) translateY(45%);
}

.categoryName2 {
	color: #525251;
	font-size: 26px;
}

.title2 {
	color: #525251;
	font-size: 48px;
	font-family: aria;
}

.subTitle2 {
	color: #525251;
	/* font-size: 48px; Uncomment when right fonts are in*/
	font-size: 32px;
}


.bodyText2 {
	color: #525251;
	font-size: 24px;
}

.callToAction2 {
	color: #525251;
	font-size: 27px;
	text-decoration: underline;
}

