@font-face {
    font-family: 'AriaText-SemiBold';
    src: url('fonts/AriaTextG2-SemiBold.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'AriaText-Bold';
    src: url('fonts/AriaTextG2-Bold.woff') format('woff');
    font-style: normal;
}


@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Raleway-Regular.woff'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-bold.woff'); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Photograph-Signature';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/PhotographSignature.woff'); /* IE9 Compat Modes */
}


.navbar-container {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.valuePropositionBody {
   font-family: 'Raleway-Regular', sans-serif;
}

.valuePropositionTitle {
    font-family: 'Raleway-Bold', sans-serif;
}

.subTitle3 {
    font-family: 'AriaText-SemiBold', sans-serif;
}

.title3 {
    font-family: 'AriaText-Bold', sans-serif !important;
}

.categoryName3 {
    font-family: 'Photograph-Signature', sans-serif;
}

.textContainer3 {
   font-family: 'Raleway-Regular', sans-serif;
}

.callToAction3 {
   font-family: 'AriaText-SemiBold', sans-serif;
}

.subTitle1 {
	font-family: 'AriaText-SemiBold', sans-serif;
}

.title1 {
	font-family: 'AriaText-Bold', sans-serif !important;
}

.quoteText {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.subTitle2 {
    font-family: 'Photograph-Signature', sans-serif;
}

.title2 {
    font-family: 'AriaText-Bold', sans-serif !important;
    margin-bottom: 5px !important;
}

.categoryName2 {
   font-family: 'AriaText-SemiBold', sans-serif;
}

.bodyText2 {
   font-family: 'Raleway-Regular', sans-serif;
}

.callToAction2 {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.bodyTextNL {
  font-family: 'Raleway-Regular', sans-serif;
}

.radioLabel {
  font-family: 'Raleway-Regular', sans-serif;
}

.termsNL {
  font-family: 'Raleway-Regular', sans-serif;
}

.callToActionNL {
  font-family: 'Raleway-Regular', sans-serif;
}

.titleNL {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.footer-row-1 h1 {
   font-family: 'Raleway-Regular', sans-serif;
}

.title h1 {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.footer-link {
  font-family: 'Raleway-Regular', sans-serif;
}

.footerRightText {
  font-family: 'Raleway-Regular', sans-serif;
}

.footerRightText strong {
  font-family: 'AriaText-SemiBold', sans-serif;
}

.footerCalltoActionR {
  font-family: 'AriaText-SemiBold', sans-serif;
}