.footer-bar {
  background: rgb(82,82,80);
  height: 660px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.footer-bar-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    color: rgb(241,241,241);
    margin-left: 2rem;
}

.footer-row-2-split {
    display: grid;
    grid-template-columns: 2fr 2fr;
   
}

.inner-col-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

.inner-col-1 h1 {
  font-size: 1rem;
}

.inner-col-2 h1 {
  font-size: 1rem;
}

.inner-col-1 a {
  color: rgb(241,241,241);
  text-decoration: none;
}

.inner-col-2 a {
  color: rgb(241,241,241);
  text-decoration: none;
}

.footer-link {
    margin-bottom: 10px;
    margin-left: 35%;
}

.title {
  margin-left: 35%;
}

.footer-row-1 {
display: flex;
justify-content: center;
 margin-bottom: 15%;
}

.footer-row-2 {
  display:flex;
  justify-content: left;
 flex-direction: column;
 margin-bottom: 15%;
}

.footer-row-3 {
display: flex;
justify-content: center;
 margin-bottom: 15%;
}


.footer-row-1 h1 {
  margin-top: 10px; 
  font-size: 1rem;
}

.footer-row-2 h1 {
  font-size: 1rem;   
}

.footer-row-3 h1 {
   font-size: 1rem;
}

.footer-marqueLogo {
  width: 150px;
}

.footer-linkedIn {
  height: 40px;
}


.footer-Youtube {
  height: 40px;
}


.footer-Twitter {
  height: 40px;
}


.footer-Facebook {
  height: 40px;
}

.footer-socialMediaItems {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-Photo {
  height: 250px;
  width: 250px;
  margin-left: 65px;
}

.footer-RightText {
   margin-left: 50px;
   margin-top: 25px;
   gap: 10px;
}