.footer-bar {
  background: rgb(82,82,80);
  height: 750px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  animation: fadeIn 5s;
}

.footer-bar-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    color: rgb(241,241,241);
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-row-2-split {
    display: grid;
    grid-template-columns: 2fr 2fr;
   
}

.inner-col-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.inner-col-1 h1 {
  font-size: 1rem;
}

.inner-col-2 h1 {
  font-size: 1rem;
}

.inner-col-1 a {
  color: rgb(241,241,241);
  text-decoration: none;
}

.inner-col-2 a {
  color: rgb(241,241,241);
  text-decoration: none;
}

.footer-link {
  width: 180px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 35%;
}

.title {
  margin-left: 35%;
}

.footer-row-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

.footer-row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLogoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.footer-row-3 {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.footer-row-1 h1 {
  margin-top: 10px; 
  font-size: 1rem;
}

.footer-row-2 h1 {
  font-size: 1rem;   
}

.footer-row-3 h1 {
   font-size: 1rem;
}

.footerCompanyLogo {
  width: 100px;
  transform: translateY(30px);
}

.footerPartnerLogos {
  width: 85%;
  object-fit: cover;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerPartnerLogosRow1 {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerPartnerLogosRow2 {
  grid-row: 2;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  display: flex;
  flex-direction: row;
  transform: translateY(90px);
}

.footerTextLeft {
  transform: translateY(120px);
}

.footerBigCommerceLogo {
  width: 200px;
  transform: translateY(120px);
  
}

.footerEConsultancyLogo {
  width: 150px;
  grid-column: 2 / 3;
  grid-row: 1;
}

.footerIDMLogo {
  width: 150px;
  height: 150px;
  grid-column: 3 / 4;
  grid-row: 1;
}

.footerSocialMediaItems {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footerSocialIcon {
  height: 40px;
}

.footerPhoto {
  position: relative;
  width: 75%;
  height: 75%;
  margin-left: 12%;
}

.footerImage {
  position: relative;
  width: 250px;
  height: auto;
  margin-left: 12%;
  z-index: 3;
}

.footerPhotoBackDrop {
  position: absolute;
  width: 250px;
  height: 255px;
  object-fit: cover;
  margin-left: 40px;
  z-index: 0;
  transform: translateX(-110%) translateY(4%);
}

.footerRightText {
   margin-left: 50px;
   margin-top: 25px;
   gap: 10px;
   max-width: 300px;
   transform: translateX(40px);
}


@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@media screen and (max-width: 1020px) {
	.footer-bar {
    background: rgb(138, 138, 30);
    height: 750px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    animation: fadeIn 5s;
  }
}

@media screen and (max-width: 850px) {

	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 640px) {

}