.quoteContainer {
    position: relative;
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {
    position: absolute;
    max-width: 40%;
}

.openingQuoteContainer {
    max-width: 50px;
    transform: translateY(-70px);
    z-index: 2;
}

.closingQuoteContainer {
    max-width: 50px;
    transform: translateY(80px);
    z-index: 2;
}

.quoteText {
    color: #525251;
    font-size: 24px;
    text-align: center;
    
}