.quoteContainer {
    width: 100vw;
    height: 350px;
    display: grid;
    grid-template:  1fr 1fr 1fr / 1fr;
    align-items: center;
}

.textContainer {
    grid-column: 1;
	grid-row: 2;
    max-width: 40%;
    justify-self: center;
}

.openingQuoteContainer {
    grid-column: 1;
	grid-row: 1;
    max-width: 3%;
    justify-self: center;
}

.closingQuoteContainer {
    grid-column: 1;
	grid-row: 3;
    max-width: 3%;
    justify-self: center;
}

.quoteText {
    color: #525251;
    font-size: 24px;
    text-align: center;    
}
/* 
.openingQuotationMarks {
    
}

.closingQuotationMarks {

} */