.valuePropositionDisplayBar {
    position: relative;
    background-color: rgb(238,241,242);
    height: 130px;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.valueProposition1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.valueProposition2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.valueProposition3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.valuePropImage {
    height: 120px;
    width: 120px;
}

.valuePropositionText {
    color: #525251;
    font-size: 24px;
    max-width: 95%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* background-color: skyblue; */
}

.valuePropositionTitle {
    color: #525251;
    font-size: 18px;
    transform: translateY(40%);
}

.valuePropositionBody {
    color: #525251;
    font-size: 14px;
}

@media screen and (max-width: 1250px) {
    .valuePropositionDisplayBar {  
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    
    }

    .valuePropositionTitle {
        font-size: 16px;
    }
    
    .valuePropositionBody {
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {
    .valuePropositionDisplayBar {  
        height: 400px;
        flex-direction: column;
    }

    .valueProposition1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .valueProposition2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* background-color: aqua; */
    }
    
    .valueProposition3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* background-color: aqua; */
    }

    .valuePropositionTitle {
    }
    
    .valuePropositionBody {
    }

}

